<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
  <tr> 
    <td width="6" background="../../../../../images/l-03-3b.gif" bgcolor="#FFE8E8">&nbsp;</td>
    <td width="164" valign="top">@@maincontent</td>
    <td width="1"  background="../../../../../images/dot-01.gif" bgcolor="#FFE8E8"><img src="../../../../../images/dot-01.gif" width="1" height="1"></td>
    <td valign="top" align="right">@@maincontent</td> 
    <td width="2" background="../../../../../images/l-03-2b.gif" bgcolor="#FFE8E8">&nbsp;</td>
  </tr>
</table>
@@maincontent