					<tr> 
                        <td class="blue-normal" width="12%"></td>
                        <td width="19%" align="right" valign="middle" class="blue-normal">Client Code &nbsp;&nbsp;</td>
                        <td colspan="2" valign="center">
                        <table width="72" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="100%">@@ClientCode</td>
							</tr> 
                          </table>
                        </td></TR>
					<tr> 
                        <td class="blue-normal" width="12%">&nbsp;</td>
                        <td width="19%" align="right" valign="middle" class="blue-normal">Project Number&nbsp;&nbsp;  </td>
                        <td colspan="2" valign="center">
							<table width="144" border="0" cellspacing="0" cellpadding="0">
							 <tr>
								<td width="50%">@@ProjectNumber</td>
								<td width="50%">@@Variation</td>
                          </tr>
                        </table>
							
							
						</td>
                    </tr>
					<tr> 
                        <td class="blue-normal" width="12%">&nbsp;</td>
                        <td width="19%" align="right" valign="middle" class="blue-normal">Contract Type&nbsp;&nbsp;</td>
                        <td colspan="2" valign="center">
                        <table width="228" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="100%">@@ProjectType</td>
							</tr> 
                          </table>
                        </td>
                    </tr>
					<tr> 
                        <td class="blue-normal" width="12%">
                        <td width="19%" align="right" valign="middle" class="blue-normal"> Client Country&nbsp;&nbsp;</td>
                        <td colspan="2" valign="center">
                        <table width="228" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="100%">@@Country</td>
							</tr> 
                          </table>
                        </td>
                    </tr><!--					<tr> 
                        <td class="blue-normal" width="12%">&nbsp;</td>
                        <td width="19%" align="right" valign="middle" class="blue-normal">Sectors</td>
                        <td colspan="2" valign="center">
                          <table width="228px" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="100%">@@Sector</td>
							</tr> 
                          </table>
                        </td>
                    </tr>
-->                    
                    <tr> 
                        <td class="blue-normal" width="12%">
                        <td width="19%" align="right" valign="middle" class="blue-normal"> Discipline Code&nbsp;&nbsp;</td>
                        <td colspan="2" valign="center">
                          <table width="228" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="100%">@@ServiceType</td>
							</tr> 
                          </table>
                        </td>
                    </tr>
                    
                    <tr> 
                       <td class="blue-normal" width="12%">
                        <td width="19%" align="right" valign="middle" class="blue-normal">Project Sector&nbsp;&nbsp;</td>
                        <td colspan="2" valign="center">
                          <table width="228" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="100%">@@Sector</td>
							</tr> 
                          </table> </td>
                    </tr>
