<!-- Menu -->
<table width="95%" border="0" cellspacing="0" cellpadding="0" height="80%" align="center">
    <tbody>
  <tr> 
    <td width="2px" background="../../../images/l-03-3b.gif" bgcolor="#FFE8E8" height="100%">&nbsp;</td>
    <td width="20%" valign="top" height="100%" class="left-menu">@@menu</td>
    <td width="1px"  background="../../../images/dot-01.gif" bgcolor="#FFE8E8" height="100%"><img src="../images/dot-01.gif" width="1" height="1"></td>
    <td width="79%" valign="top">@@content</td>
    <td width="2px" background="../../../images/l-03-2b.gif" bgcolor="#FFE8E8" height="100%">&nbsp;</td>
  </tr>
  </tbody>
</table>