<table width="95%" border="0" cellspacing="0" cellpadding="0" height="80%" align="center">
<tbody>
  <tr> 
    <td width="2px" background="../../../images/l-03-3b.gif" bgcolor="#FFE8E8" height="100%">&nbsp;</td>
    <td width="20%" valign="top" height="100%">@@menu</td>
    <td width="1px"  background="../../../images/dot-01.gif" bgcolor="#FFE8E8" height="100%"><img src="../images/dot-01.gif" width="1" height="1"></td>
    <td width="80%" valign="top">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">     
		    <tbody>     
			@@content
          <tr> 
            <td> 
			<table width="100%" border="0" cellspacing="0" cellpadding="0" height="20">
			<tbody>
			  <tr> 
			    <td align="right" bgcolor="#E7EBF5"> 
			      <table width="70%" border="0" cellspacing="1" cellpadding="0" height="20">
			      <tbody>
			        <tr class="black-normal"> 
			          <td align="right" valign="middle" width="37%" class="blue-normal">Page 
			          </td>
			          <td align="center" valign="middle" width="13%" class="blue-normal"> 
			            <input type="text" name="txtpage" class="blue-normal" value="@@curpage" size="2" style="width:50">
			          </td>
			          <td align="left" valign="middle" width="7%" class="blue-normal">&nbsp;<a href="javascript:go();"  onMouseOver="self.status='Go to page'; return true;" onMouseOut="self.status='';"><font color="#990000">Go</font></a> 
			          </td>
			          <td align="right" valign="middle" width="15%" class="blue-normal">Page @@curpage/@@numpage&nbsp;&nbsp;</td>
			          <td valign="middle" align="right" width="28%" class="blue-normal"><a href="javascript:prev();"  
			          onMouseOver="self.status='Previous page'; return true;" onMouseOut="self.status='';">Previous</a> /
			          <a href="javascript:next();"  onMouseOver="self.status='Next page'; return true;" onMouseOut="self.status='';"> Next</a>&nbsp;&nbsp;&nbsp;</td>
			        </tr>
			        </tbody>
			      </table>
			    </td>
			  </tr>
			  </tbody>
			</table>
	        </td>
          </tr>
          </tbody>
        </table>    
    </td>
    <td width="2px" background="../../../images/l-03-2b.gif" bgcolor="#FFE8E8" height="100%">&nbsp;</td>
  </tr>
  </tbody>
</table>