<table width="95%" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
  <tr> 
    <td height="85" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="525"><a href="/timesheet/aisnet/DashBoard/DashBoard"><img src="../../../images/logo_21.png" width="428" height="61"></a></td>
                <td class="red" align="right" valign="bottom">@@title</td>

            </tr>
         </tbody>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="24">
      <tbody>
        <tr> 
          <td height="24" width="1" valign="top"><img src="../../../images/l-02.gif" width="1" height="24"></td>
          <td height="24" background="../../../images/l-01.gif" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr> 
                <td width="334"><img src="../../../images/line-l.gif" width="334" height="24"></td>
                <td align="right" class="blue">@@function</td>
              </tr>
               </tbody>
            </table>
          </td>
          <td width="1" height="24" valign="top"><img src="../../../images/l-02.gif" width="1" height="24"></td>
        </tr>
         </tbody>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tbody>
        <tr> 
          <td colspan="10" background="../../../images/l-03-3a.gif"><img src="../../../images/l-03-3a.gif" width="1" height="7"></td>
        </tr>
         </tbody>
      </table>
    </td>
  </tr>
   </tbody>
</table>
@@maincontent
