        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr align="center"> 
            <td class="blue" align="left" width="20%">@@Clogo&nbsp;</td>
            <td class="blue" align="left" width="40%">&nbsp; </td>
            <td align="right" width="40%"><b><font face="Arial" size="3" color="#003399">@@Cname</font></b><br><span class="blue-normal">
              @@Caddress<br>@@Ccity, @@Ccountry</span><br><span class="blue">Tel: </span><span class="blue-normal">
			  @@Cphone</span><br><span class="blue">Fax: </span><span class="blue-normal">@@Cfax</span>
            </td>
          </tr>
          <tr align="center"> 
            <td class="title" height="50" align="center" colspan="3">@@titleofreport<br><span class="blue-normal">@@fromto
              </span></td>
          </tr>
          <tr align="right"> 
            <td class="blue-normal" height="20" colspan="3">Printing Date: @@printdate&nbsp;</td>
          </tr>
        </table>
