<table border="0" cellpadding="3" cellspacing="0" width="100%">
		  <tr height="30">
		    <td width="50%" class="blue"><IMG height=5 src="../../../images/dot.gif" width=5>
								&nbsp;&nbsp;&nbsp;Net Salary from @@strFrom to @@strTo</td>
		    <td width="50%" align="right" class="dark-red">@@netsalary&nbsp;@@strCurrent/month</td>
		  </tr>
		</table><!--For salary Payment -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		  <tr>
		    <td width="100%">
				<table border="0" cellpadding="0" cellspacing="0" width="80%" bgcolor="#8ca0d1" align="right">
				  <tr>
				    <td width="100%">
					    <table border="0" cellpadding="2" cellspacing="1"  width="100%">
					      <tr>
					        <td width="25%" bgcolor="#e7ebf5" align="middle" class="blue-small">Basic Payment</td>
					        <td width="30%" bgcolor="#e7ebf5" align="middle" class="blue-small">Hours</td>
					        <td width="20%" bgcolor="#e7ebf5" align="middle" class="blue-small">Rate per hour/month</td>
					        <td width="25%" bgcolor="#e7ebf5" class="blue-small">&nbsp;</td>
					     </tr>
					     <tr>
					        <td width="25%" bgcolor="#ffffff" class="blue-normal">Salary pay</td>
					        <td width="30%" bgcolor="#ffffff" align="center" class="blue-normal">@@numWorkDays</td>
					        <td width="20%" bgcolor="#ffffff" align="center" class="blue-normal">@@rateDate</td>
					        <td width="25%" bgcolor="#ffffff" align="right" class="blue-normal">@@SalaryValue</td>
					     </tr>
					     <tr>
					        <td width="25%" bgcolor="#ffffff" class="blue-normal">Unpaid</td>
					        <td width="30%" bgcolor="#ffffff" align="center" class="blue-normal">&nbsp;@@numUnpaidDays</td>
					        <td width="20%" bgcolor="#ffffff" align="center" class="blue-normal">@@rateDate</td>
					        <td width="25%" bgcolor="#ffffff" align="right" class="blue-normal">@@UnpaidValue</td>
					     </tr>
					  </table>
				    </td>
				  </tr>
				</table>
				</td>
			</tr>
			<tr>
				<td>
		          <table border="0" cellpadding="2" cellspacing="0" width="30%" align="right">
		            <tr>
		              <td width="50%" class="blue-normal">Total</td>
		              <td width="50%" align="right" class="blue">@@BasicTotal</td>
		            </tr>
		          </table>
				</td>
			</tr>
		</table>