	<!--Summary salary-->
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	    <td width="30%" class="blue" valign="top">&nbsp;&nbsp;&nbsp;<img height='5' src='../../../images/dot.gif' width='5'>&nbsp;&nbsp;&nbsp;Summary</td>
	    <td width="70%" valign="top">
			<table border="0" cellpadding="5" cellspacing="0" width="40%" align="right">
	            <tr>
	              <td width="50%" class="blue"><u>Basic Total</u></td>
	              <td width="50%" align="right" class="dark-red">@@grantBasic</td>
	            </tr>
	            <tr>
	              <td width="50%" class="blue"><u>Overtime Total</u></td>
	              <td width="50%" align="right" class="dark-red">@@grantOT</td>
	            </tr>
	            <tr bgcolor="#8ca0d1">
	              <td width="50%" class="blue"><u>Total</u></td>
	              <td width="50%" align="right" class="dark-red"><u>@@grantTotal</u></td>
	            </tr>
	          </table>
	    </td>
	  </tr>
	  <!--Signature-->
	  <tr>
	    <td width="30%" class="blue" valign="top">&nbsp;</td>
	    <td width="70%" valign="top">
			<table border="0" cellpadding="5" cellspacing="0" width="50%" align="right">
	            <tr>
	              <td width="50%" height="50">&nbsp;</td>
	              <td width="50%" height="50">&nbsp;</td>
	            </tr>
	            <tr>
	              <td width="50%"><hr size="1"></td>
	              <td width="50%"><hr size="1"></td>
	            </tr>
	            <tr>
	              <td width="50%" align="center" class="blue">Signature</td>
	              <td width="50%" align="center" class="blue">Supervisor</td>
	            </tr>
	          </table>
	    </td>
	  </tr>
	</table>