.datepicker {
  padding: 5px 15px;
}
.datepicker-dropdown {
  margin-top: 0;
  padding: 5px 10px;
}
.datepicker-dropdown table {
  width: 100%;
}
.datepicker-dropdown table tr {
  background-color: transparent !important;
}
.datepicker-dropdown table th {
  background-color: transparent !important;
  color: inherit;
  border: none !important;
}
.datepicker-dropdown table th.next:hover {
  cursor: pointer;
}
.datepicker-dropdown table th.prev:hover {
  cursor: pointer;
}
.datepicker-dropdown table td {
  color: inherit;
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker-dropdown table td.day:hover {
  background-color: #ffe1e1 !important;
}
.datepicker-inline {
  margin-top: 0;
  padding: 0;
}
.datepicker-inline table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  border: 1px solid #8FA4D3;
  padding: 0 3px;
  pointer-events: none;
}
.datepicker-inline table .datepicker-switch {
  width: 100% !important;
  background-color: #617DC0 !important;
  color: #ffffff;
  border-radius: 0 !important;
}
.datepicker-inline table .prev,
.datepicker-inline table .next {
  display: none;
}
.datepicker-inline table .day.disabled {
  color: #ca0000;
}
.datepicker-inline table tr {
  background-color: transparent !important;
}
.datepicker-inline table th {
  background-color: transparent !important;
  color: inherit;
  border: none !important;
}
.datepicker-inline table td {
  color: inherit;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 1px !important;
}
.datepicker-inline table td.authorised {
  background-color: #dff0d8;
}
.datepicker-inline table td.authorised.disabled {
  background-color: none;
}
.datepicker-inline table td.authorised:hover {
  background-color: #fe7776 !important;
}
.datepicker-inline table td.holiday {
  background-color: #FFC6C6;
}
.datepicker-inline table td.holiday.disabled {
  background-color: none;
}
.datepicker-inline table td.holiday:hover {
  background-color: #fe7776 !important;
}
.datepicker-inline table td.old,
.datepicker-inline table td.new {
  border: none !important;
  color: #999999 !important;
}
.datepicker-inline table td.day:hover {
  background-color: #ffe1e1 !important;
}
.datepicker-days,
.datepicker-months,
.datepicker-years {
  margin-top: 0;
  font-size: 12px;
  font-family: arial, verdana;
  text-decoration: none;
}