.hr-timesheet {
  width: 30%;
  margin: 0 auto;
}
.hr-timesheet #hr-timesheet-form {
  margin-top: 30px;
}
.hr-timesheet #hr-timesheet-form .form-control-static {
  font-size: 9pt;
  font-weight: bolder;
}
@media (min-width: 240px) and (max-width: 767px) {
  .hr-timesheet {
    min-width: 95%;
  }
}
@media (min-width: 767px) {
  .hr-timesheet {
    min-width: 490px;
  }
}