.request-list__pagination {
  margin-top: 30px;
  color: #003399 !important;
  background-color: #e7ebf5;
  position: absolute;
  bottom: 0px;
  width: 76%;
  text-align: right;
}
.request-list__pagination--select-page {
  display: inline-block;
  width: 50px;
  margin-left: 20px;
}
.request-list__pagination--select-page-btn {
  color: #990000;
  text-decoration: underline;
  margin-left: 20px;
  cursor: pointer;
}
.request-list__pagination--page-data {
  display: inline-block;
  width: 15%;
}
.request-list__pagination--action {
  display: inline-block;
  width: 28%;
  padding-right: 10px;
}
.request-list__pagination--action a {
  color: #003399 !important;
  text-decoration: underline;
  cursor: pointer;
}
.menu-link {
  display: block;
}
.name-and-job {
  float: right;
  position: relative;
  top: 45px;
  font-size: 9pt;
  color: #ca0000;
  font-style: normal;
  font-family: arial;
}
.header__nav-wrapper {
  border: 1px solid #032e9b;
}
.header__underline {
  background-image: url("../../images/l-03-3a.gif");
  border: 0;
  height: 6pt;
  margin: -1px 0;
  width: 100%;
}
.footer {
  border: 1px solid #032e9b;
  background-color: #8CA0D1;
  padding: 5px;
}
.body-content {
  position: relative;
  padding: 0;
  min-height: 75vh;
  height: 100%;
}
.body-content__border {
  height: 100%;
  position: absolute;
  top: 0;
}
.body-content__border--left {
  left: 0;
  width: 5px;
  background-image: url("../../images/l-03-3b.gif");
  background-repeat: repeat;
}
.body-content__border--left-double {
  left: 0;
  width: 10px;
  background-image: url("../../images/l-03-3b.gif");
  background-repeat: repeat;
}
.body-content__border--right {
  right: 0;
  width: 4px;
  background-image: url("../../images/l-03-2b.gif");
  background-repeat: repeat;
}
.body-content__border--right-triple {
  right: 0;
  width: 12px;
  background-image: url("../../images/l-03-2b.gif");
  background-repeat: repeat;
}
.body-content__border--middle {
  left: 23%;
  width: 2px;
  background-image: url("../../images/dot-01.gif");
  background-repeat: repeat;
}
.body-content__content {
  min-height: 75vh;
  height: 100%;
}
.body-content__left-menu {
  width: 23%;
  position: relative;
  padding: 30px 15px 0;
  float: left;
}
.body-content__left-menu--content div {
  margin-bottom: 7px;
}
.body-content__left-menu--content ul {
  padding-left: 20px;
}
.body-content__left-menu--content ul li {
  list-style: none;
  margin-bottom: 3px;
}
.body-content__left-menu--content .menu-dot {
  margin-top: 8px;
  margin-right: 5px;
}
.body-content__left-menu--content a {
  font-weight: bold;
  font-size: 8pt;
  color: #003399;
  font-family: arial, verdana;
  text-decoration: none;
  text-decoration: underline;
  margin-top: 3px;
  cursor: pointer;
}
.body-content__left-menu--content a[href]:hover {
  color: #ca0000;
}
.body-content__left-menu--content .menu-active {
  color: #ca0000;
}
.body-content__pages {
  width: 77%;
  display: inline-block;
  padding: 30px 12px 0 2px;
}