vti_encoding:SR|utf8-nl
vti_author:SR|SERVER03\\Administrator
vti_timecreated:TR|16 Mar 2011 04:22:35 -0000
vti_timelastmodified:TR|21 Oct 2011 02:59:15 -0000
vti_filesize:IR|353
vti_extenderversion:SR|4.0.2.7802
vti_backlinkinfo:VX|data/timesheet/management/annualleave/leaveprocess.asp
vti_nexttolasttimemodified:TR|17 Mar 2011 04:41:33 -0000
vti_modifiedby:SR|SERVER03\\Administrator
vti_cacheddtm:TX|17 Mar 2011 04:41:33 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
